@font-face {
  font-family: 'Inter';
  src: url('../assets/Inter/Inter.ttf');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Background colors ==========*/

  --body-color: #1A1A1A;
  --header-background: #161616;
  --footer-background: #161616;
  --contact-info-background: #3a3a3a;
  --bg-black: #101010;
  --button-background: #FFFFFF;
  --shop--background: #01010142;
  --product-background: #2a2a2a3f;
  --second-button-background: #2A2A2A;

  /*========== Border colors ==========*/

  --border--shadow: rgba(16, 16, 16, 0.5);

  /*========== text color ==========*/

  --main-text-color: #F1F1F1;
  --second-text-color: #F0F0F0;
  --main-color: #BE60F4;
  --copy-color: #A0A0A0;

  /*========== form colors ==========*/

  --form-background: #0A0A0A;
  --form-input-background: #1A1A1A;
  --form-input-border: #2A2A2A;
  --form-label: #FAFAFA;
  --form-input: #FAFAFA;
  --form-placeholder: #828282;

  /*========== font size ==========*/

  --h1: 3.1rem;
  --h2: 2.55rem;
  --h3: 1.8rem;
  --h4: 1.2rem;
}

@media screen and (max-width: 576px) {
  
  :root{
    --h1: 2.1rem;
    --h2: 1.85rem;
    --h3: 1.5rem;
    --h4: 1.2rem;
  }
}

/*=======================================================================================================
=                                               Base                                                    =
========================================================================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "inter", sans-serif;
  color: var(--main-text-color);
  background-color: var(--body-color);
  overflow-x: hidden;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
}

p, a, li, dl, ol, ul{
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 400px;
  max-width: 100%;
  height: auto;
}

/* hedding and paragraph base styles */

h1 {
  font-size: var(--h1);
  font-weight: 600;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
  font-weight: 600;
}

h4 {
  font-size: var(--h4);
}

/* table styles */

table {
  max-width: 100%;
  border-spacing: 0;
  border: solid 5px #0a0a0a77;
}

td,th{
  border-top: solid 5px #0a0a0a77;
  padding: 10px 15px;
}



/* form styles */

input,
textarea {
  background: var(--form-input-background);
  color: var(--form-input);
  padding: 10px;
  border: 1px solid var(--form-input-border);
  border-radius: 8px;
}

input::placeholder,
textarea::placeholder {
  color: var(--form-placeholder);
  font-size: 0.8rem;
}

label {
  font-size: 0.9rem;
}

/*=======================================================================================================
=                                        Selectores de clases                                              =
========================================================================================================*/

/* selectores reutilizables */

.main {
  padding-top: 65px;
}

.grid{
  display: grid;
}

.subtitle__h4 {
  font-size: var(--h4);
  font-weight: normal;
}

.subtitle__h3 {
  font-weight: 500;
}

.paragraph {
  color: var(--second-text-color);
  line-height: 1.5rem;
}

/* Boostrap selectores reutilizables */

.row{
  align-items: center;
  justify-content: center;
}

.container {
  padding: 60px 20px;
  margin: 0 auto;
}

/*=============== Loading style ===============*/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222222;
  z-index: 999;
  transform-origin: bottom;
  transition: 0.5s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  transition-delay: 0.5s;
}

.loading.loaded {
  transform: scaleY(0);
  pointer-events: none;
}

.loading > img {
  width: 12vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.loading.loaded > * {
  opacity: 0;
}

/*=============== buttons styles ===============*/

.button__interactive {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  color: var(--main-color);
  font-size: 1rem;
}

.contact__button {
  width: 200px;
  height: 48px;
  margin-top: 20px;
  border-radius: 6px;
  color: var(--main-text-color);
  background-color: var(--form-input-border);
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn {
  width: 80%;
  height: 42px;
  border: solid 1px #0A0A0A;
  border-radius: 8px;
  color: #0A0A0A;
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Social links hover */

.social__icons:hover,
.social__home__links i:hover,
.link__footer:hover {
  color: var(--main-color);
}

/* animation icons */

.animation-icon:hover {
  -webkit-animation: tada 1.3s ease-in infinite;
  animation: tada 1.3s ease-in infinite;
}

/*=============== SCROLL UP ===============*/

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--form-background);
  display: inline;
  padding: 6px 13px;
  font-size: 1.25rem;
  color: var(--main-text-color);
  z-index: 50;
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
}

.scrollup i{
  animation: scroll-up 3s infinite;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

/* Show Scroll Up */

.show-scroll {
  bottom: 3rem;
}

/*=============== header styles ===============*/

.header__nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--header-background);
  border-bottom: 5px solid var(--border--shadow);
  z-index: 100;
}

/* nav styles */

.nav__bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.nav__container{
  position: fixed;
  width: 60%;
  top: 0;
  right: -100%;
  height: 100%;
  background-color: var(--form-input-border);
  transition: 0.5s;
}

.nav__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 90%;
}

.show-menu{
  right: 0;
}

/* text and logo styles*/

.nav__logo img {
  width: 150px;
  height: 50px;
  object-fit: contain;
}

.nav__list a{
  font-size: 1.1rem;
  font-weight: 500;
}

.button__nav a {
  color: #0A0A0A;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--button-background);
}

/* buttons for mobile divice */

.close__button{
  position: absolute;
  top: 20px;
  right: 25px;
}

.close__button,
.nav-toggle{
  font-size: 1.5rem;
  cursor: pointer;
}

/* nav items hover */

.nav__item::after {
  content: '';
  width: 0%;
  height: 3px;
  background-color: var(--main-text-color);
  display: block;
  transition: 0.4s;
}

.nav__item:hover::after {
  width: 100%;
}

/*=================== index Page styles ==================*/

/*------------- home styles -----------------*/

.home__section{
  background-image: url("../assets/hero-bg.jpg");
  background-position: center center;
  background-size: cover;
}

.home__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 15px 10px 40px;
}

.main__text{
  text-align: center;
  width: 100%;
}

.float__social,
.float__social ul{
  display: flex;
  gap: 2.5rem;
}

.float__social ul{
  gap: 0.5rem;
}

/* home text styles */

.text__float__social{
  position: relative;
  font-size: 1.2rem;
}

.text__float__social::after{
  content: '';
  position: absolute;
  left: 110%;
  top: 50%;
  width: 1.8rem;
  height: 2px;
  background-color: var(--main-text-color);
  display: block;
}

.social__home__links,
.social__home__links i{
  font-size: 1.2rem;
  transition: 0.4s;
}

/*---------------- info styles ----------------*/

.info__section{
  background-color: var(--bg-black);
}

.info__container{
  gap: 2rem;
}

.info__container__text{
  margin: auto;
  gap: 0.7rem;
}

.info__container .subtitle__h3{
  margin: 15px 0
}

.info__container__img{
  margin: auto;
}
/*---------------- concept styles ----------------*/

.concep__section{
  height: 100%;
  background-image: url("../assets/home-Concep-bg.jpg");
  background-position: center;
  background-size: cover;
}

.concept__container{
  display: flex;
  flex-direction: column-reverse;
}

.concept__text{
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.concept__relative{
  position: relative;
  width: 100%;
  height: 100%;
}

.concept__relative img{
  width: 100%;
}

.concept__front__image{
  position: relative;
  bottom: 40px;
  right: 50px;
  z-index: 2;
}

.concept__back__image{
  z-index: 1;
  position: absolute;
  bottom: 50px;
  right: 30px;
}

/*---------------- lcd styles ----------------*/

.lcd__section {
  padding: 60px 10px;
  position: relative;
}

.lcd__items__container {
  display: flex;
  flex-direction: column;
}

.interactive__text__container {
  position: relative;
  padding-top: 30px;
}

.interactive__text__container:last-child {
  padding-bottom: 30px;
}

.fa-caret-right {
  transition: 0.4s;
}

/* lcd texts */
.paragraph__button {
  width: 100%;
  display: none;
}

.lcd__info__container .subtitle__h2,
.lcd__info__container .paragraph {
  width: 100%;
}

/* lcd images */

.interactive__images__container{
  height: 100px;
}

.active-imgs {
  pointer-events: none;
  position: absolute;
  left: 52%;
  bottom: 0;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.active-imgs>.lcd-img-1 {
  position: relative;
  left: 52%;
  bottom: 0;
  transform: translate(-50%, 0);
  opacity: 1;
}

.active-imgs>img {
  position: absolute;
  left: 52%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 100%;
  opacity: 0;
}

.active-imgs>.lcd-img-video4 {
  position: absolute;
  transform: translate(-17%, -64.1%) rotate(-40deg) scale(0.18);
  top: 50%;
  left: 52%;
}

.active-imgs>.lcd-img-video5 {
  position: absolute;
  transform: translate(-17%, -64.1%) rotate(-40deg) scale(0.18);
  top: 50%;
  left: 52%;
}

/* lcd section active */
.active-imgs>img.active {
  opacity: 1;
}

.interactive__text__container.active .fa-caret-right {
  transform: rotate(90deg);
}

.interactive__text__container.active .paragraph__button {
  padding-top: 20px;
  display: block;
}

/*---------------- sponsor styles----------------*/

.sponsor__section {
  background-color: var(--footer-background);
  padding: 40px 0;
}

.sponsor__container{
  grid-template-columns: repeat(3, 30%);
  gap: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.sponsor__img{
  width: 100%;
  transition: 0.4s;
}

.sponsor__img:hover{
  transform: scale(1.1);
}

/*==================== info Page styles ==================*/

/* info background */

.background__info{
  background-image: url("../assets/card-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*---------------- info iframe ----------------*/

.video__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  padding: 30px;
}

.info__video{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info__iframe{
  flex: 0 0 100%;
  max-width: 100%;
}

.info__text{
  font-size: 2.5rem;
}

.info__video__iframe{
  max-width: 100%;
  height: auto;
}

/*--------------- performance ---------------*/

/* performance styles */

.performance__section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2.5rem;
  padding: 60px 20px;
}

/* performance info */

.performance__info__container {
  flex: 0 0 100%;
  max-width: 100%;
}

.performance__info__container .paragraph__button {
  font-size: 0.9rem;
  width: 90%;
  display: none;
}

.performance__info__container .subtitle__h2 {
  margin-bottom: 20px;
}

.performance__info__container .paragraph {
  font-size: 0.9rem;
}

/* performance images */

.performance-img {
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

.performance-imgs .performance-img.active {
  display: block;
}


/*---------------- especific ----------------*/

.table__head__title{
  font-size: var(--h2);
  border: none;
}

.table__title__body,
.table__foot__title{
  font-size: 1rem;
  font-weight: 500;
}

.table__foot__info{
  font-size: 0.9rem;
  font-weight: normal;
}

/*---------------- info sponsor ----------------*/

.info__sponsor{
  padding: 20px;
}

.info__sponsor img{
  width: 20%;
  margin-bottom: 20px;
}

/*================== shop page styles ====================*/

/*---------------- form styles ----------------*/

/* contact layaout */

.contact__mail{
  background-color: var(--form-background);
  width: 100%;
  padding: 30px;
}

.user__form{
  margin-bottom: 40px;
}

/* inputs containers */

.contact__box{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
}

.contact__group{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-form .contact__group{
  flex-direction: column;
}

.contact-form .contact__group .contact__box {
  width: 100%;
}

.paid-form .contact__group .contact__box{
  width: 30%;
}

.contact__label{
  margin: 10px 0 0 2px;
}

.button__container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* contact text */

.contact__title{
  font-weight: bold;
  margin: 20px 0;
}

.contact__title:last-of-type{
  margin-bottom: 30px;
}

.contact__button{
  background-color: var(--second-button-background);
  color: var(--main-text-color);
  font-size: 1.1rem;
  font-weight: normal;
  border: none;
  outline: none;
  border-radius: 8px;
}

/*----------------- shop styles -------------------*/

.form__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 20px;
}

/* shop layout */

.shop__product{
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.shop__info{
  background-color: var(--shop--background);
  display: grid;
  gap: 2rem;
  padding: 40px 30px 50px;
}

.product__container {
  padding: 40px 10px;
  background-color: var(--product-background);
}

.img__product{
  margin: auto;
  width: 90%;
}

/* shop text */

.product__title{
  font-size: 2.2rem;
}

/*=================== footer styles =================*/

.footer{
  background-color: var(--footer-background);
  border-top: solid 5px var(--border--shadow);
}

/* footer layout */

.footer__nav{
  padding: 30px 30px;
  grid-template-columns: 1fr;
  gap: 4rem 5rem;
}

/* Footer logo*/

.footer__logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem 5rem;
  width: 200px;
  margin: auto;
}

.footer__social__links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-evenly;
}

/* Footer links layout */

.footer__links{
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 4rem;
  justify-content: space-evenly;
}

.footer__links__list{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* Footer text */

.footer__logo__img{
  width: 40%;
}

.social__icons{
  font-size: 1.5rem;
}

.list__title{
  font-size: 1.3rem;
  font-weight: 600;
}

.link__footer{
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

/*----------------- copyright styles -----------------*/

/* Footer copyright */

.footer__copy{
  padding: 10px;
  text-align: center;
}

.footer__copy__text{
  font-size: 0.65rem;
  color: var(--copy-color);
}

/*======================= Key Frame =======================*/

/* scroll up animation */

@keyframes scroll-up {
  0% {
    transform: translateY(0.6rem);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

/* animation icons */

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
    transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*=======================================================================================================
=                                           Media Query                                                 =
========================================================================================================*/

/*--------------------- MAX width ---------------------*/

/*==================== For small devices ==================*/

@media screen and (max-width: 340px) {

  .concept__front__image{
    right: 20px;
  }

  .concept__back__image{
    right: 0;
  }

  .sponsor__container{
    grid-template-columns: repeat(2, 40%);
    padding: 20px 20px;
  }

  .footer__links {
    margin: auto;
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 768px) {
  tr {
    display: flex;
    flex-direction: column;
    border-bottom: solid 5px #0a0a0a77;
  }

  td,
  th {
    border: none;
    padding: 10px 15px;
  }
}

/*--------------------- MIN width ---------------------*/

@media screen and (min-width: 340px) {

  .sponsor__container {
    padding: 20px 20px;
  }

}

@media screen and (min-width: 576px) {

  .info__video__iframe{
    width: 400px;
    height: 250px;
  }

}


/*==================== For medium devices ==================*/


@media screen and (min-width: 768px) {

  /*==================== Header =====================*/

  .nav__bar{
    padding: 5px 40px;
  }

  .nav__container{
    position: static;
    width: max-content;
    height: max-content;
    background-color: transparent;
    margin-top: 5px;
  }

  .nav__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .close__button{
    opacity: 0;
  }

  .nav-toggle{
    display: none;
  }

  /*============== Index Page Media =================*/

  /*-------------- home container --------------*/

  .home__container{
    position: relative;
  }

  .home__product__img{
    width: 60%;
  }

  .float__social{
    position: absolute;
    top: 40%;
    left: 20px;
    flex-direction: column;
  }

  .text__float__social{
    rotate: 90deg;
  }

  .text__float__social::after{
    left: 110%;
    top: 50%;
  }

  .float__social ul{
    margin-top: 10px;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
  }

  /*-------------- info styles  -----------------*/

  .info__container{
    justify-content: space-between;
  }

  /*-------------- concept styles --------------*/

  .concept__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 80px 0;
  }

  .concept__text{
    margin-top: 0;
    flex: 0 0 40%;
    max-width: 40%;
  }

  .concept__relative{
    flex: 60%;
    max-width: 60%;
    height: 100%;
  }

  .concept__front__image,
  .concept__back__image{
    top: 0;
    right: 0;
  }

  /*---------------------------- LCD styles ----------------------------*/

  /* lcd texts */
  .paragraph__button {
    width: 40%;
    display: none;
  }

  .lcd__info__container .subtitle__h2,
  .lcd__info__container .paragraph {
    width: 60%;
  }

  /* lcd images */

  .interactive__images__container{
    height: 0;
  }

  /*-------------- Sponsor styles  -----------------*/

  .sponsor__container{
    grid-template-columns: repeat(4, 15%);
  }

  /*============== Info Page Media =================*/

  /*---------------- info iframe ----------------*/

  .video__info{
    display: flex;
    flex-direction: row;
    padding: 60px 0;
  }

  .info__video{
    flex: 0 0 45%;
    max-width: 45%;
  }

  .info__iframe{
    flex: 0 0 55%;
    max-width: 55%;
  }

  .info__video__iframe{
    width: 350px;
    height: 200px;
  }

  /*-------------- Performance Styles --------------*/

  .performance__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 60px 20px;
  }

  .performance-img {
    flex: 0 0 50%;
    max-width: 500px;
  }

  .performance__info__container {
    flex: 0 0 50%;
    max-width: 40%;
  }

  /*--------------- table styles ---------------*/

  .table__title__body,
  .table__foot__title{
    font-size: 1.2rem;
    font-weight: 500;
  }

  .table__foot__info{
    font-size: 1rem;
    font-weight: normal;
  }

  /*================= Footer =================*/

  .footer__nav{
    grid-template-columns: 300px 300px;
    padding: 20px;
    justify-content: space-between;
  }

  .footer__logo{
    width: 100%;
  }

  .footer__logo__img{
    width: 20%;
  }

  .footer__links{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 6rem;
    justify-content: space-evenly;
  }

}

/*==================== For Large devices ==================*/

@media screen and (min-width: 992px) {

  .info__video{
    flex: 0 0 45%;
    max-width: 45%;
    padding-left: 20px;
  }

  .info__iframe{
    flex: 0 0 55%;
    max-width: 55%;
  }

  .info__video__iframe{
    width: 450px;
    height: 300px;
  }

  /*-------------- Performance Styles --------------*/

  .performance__section {
    gap: 5rem;
  }

  .performance-imgs img{
    width: 450px;
  }

  /*================== shop page styles ====================*/

  /*---------------- form styles ----------------*/

  .form__container{
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 20px 0;
    gap: 1.5rem;
  }

  .contact__mail{
    flex: 0 0 55%;
    max-width: 55%;
  }

  .shop__product{
    flex: 0 0 40%;
    max-width: 40%;
    gap: 2rem;
  }

  /* inputs containers */

  .contact-form .contact__group{
    flex-direction: row;
  }

  .contact-form .contact__group .contact__box{
    max-width: 45%;
    flex: 0 0 45%;
  }

  /*----------------- shop styles -------------------*/

  /* shop layout */

  .shop__info{
    background-color: var(--shop--background);
    display: grid;
    gap: 2rem;
    padding: 40px 30px 50px;
  }

  .product__container {
    padding: 40px 10px;
    background-color: var(--product-background);
  }

  .img__product{
    margin: auto;
    width: 90%;
  }

  /* shop text */

  .shop__paragraph__info{
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  .product__title{
    font-size: 2.2rem;
  }

  /* Scroll up */

  .scrollup{
    right: 3rem;
  }
}


@media screen and (min-width: 1150px) {
  
  /*============== Index Page Media =================*/

  .main__text{
    width: 100%;
  }

  /*============== Info Page Media =================*/

  .info__video__iframe{
    width: 600px;
    height: 400px;
  }

  /*-------------- Performance Styles --------------*/

  .performance-img {
    flex: 0 0 100%;
  }

  .performance-imgs img{
    width: 550px;
  }

  .performance__info__container .paragraph__button {
  width: 80%;
  }

  /*--------------- table styles ---------------*/

  .table__title__body,
  .table__foot__title{
    font-size: 1.2rem;
    font-weight: 500;
  }

  .table__info__body{
    font-size: 0.9rem;
  }

  .table__foot__info{
    font-size: 0.7rem;
    font-weight: normal;
  }

}